# Django settings
SECRET_KEY=django-insecure-4rh4#!t0l9!sht^)0gd%4le!h5r_rbcbvve*2ngz+nb1bljr4z
DEBUG=True

# Database settings
PG_DB_NAME=auth_db
PG_DB_USER=auth_service
PG_DB_PASSWORD=secure_password_dev
PG_DB_HOST=localhost
PG_DB_PORT=5432